 <section id="about" class="about bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                {{!-- <img src="img/portfolio-img.png" alt="portfolio image" height="42" width="42"> --}}
                <p class="lead">
                    Welcome to my mini portfolio website! My name is Sarah Avwata. My interests span all aspects of design and development, including JavaScript, AJAX, JAVA and everything in between. I like to think of myself as a fun-loving, pretty meticulous, results-driven developer who has spent nothing less than 11 hours a day over the last three years writing, refactoring code or testing code on the front-end or back-end and mobile too. When I wear the front-end developer hat, i'm pretty much the girl that gets finicky about the performance of each DOM element in the browser. And when working in projects where I take the back-end role, I'm interested in proper code structuring, modularity and extensibility. When I'm not coding, I am an avid learner about anything technology-from frameworks to research advancements. 
                    
                </p>
            </div>
        </div>
    </div>
</section>