<!-- Websites -->
<section id="websites-built" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
              <h2>Websites Built</h2>
              <hr class="small">

              <div class="row">
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="https://scrape-thenews.herokuapp.com/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/scrape-the-news.png">
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="https://crystalcollector1.herokuapp.com/index.html" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/crystalgame.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="https://trivia-game22.herokuapp.com/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/PixarTrivia.png">
                        </a>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <a href="https://satmodel1.herokuapp.com/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/SATModel.png">
                        </a>
                    </div>
                </div>
              </div>

              
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <a href="https://eatdburger.herokuapp.com/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/burger.png">
                        </a>
                    </div>
            </div>
                {{!-- <div class="col-md-6">
                    <div class="portfolio-item">
                        <a href="https://scrape-thenews.herokuapp.com/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/scrape-the-news.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="http://openclose.herokuapp.com/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/OpenClose.png">
                        </a>
                    </div>
                </div> --}}
              </div>

          </div>
        </div>
      </div>
    </div>
</section>


